footer{
  background-color: #222426;
  color: #00f6ed;
  margin:0px;
  width:100%;
  right:0px;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-footer{
  text-align: center;
}
/*rodapé responsivo*/
@media screen and (max-width: 566px){
  footer{
    position:fixed;
    bottom:0px;
  }
  
}
@media screen and (min-width: 566px){
  footer{
    height: 45px;
    /*position: relative;*/
  } 
}