footer{
  box-sizing:border-box;
  background-color: #222426;
  color: #00f6ed;
  padding:0px 10px 30px 10px;
  margin:0px;
  width:100%;
  right:0px;
}
.p-footer{
  text-align: center;
}
/*rodapé responsivo*/
@media screen and (max-width: 566px){
  footer{
    position:fixed;
    bottom:0px;
  }
  
}
@media screen and (min-width: 566px){
  footer{
    height: 45px;
    /*position: relative;*/
  } 
}