html,
body {
  font-family: "Raleway", sans-serif;
  font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header{
  background-color: #222426;
  height: 100%;
  margin: 0;
  margin-top: -45px; 
  padding: 0;
}
.menu{
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.menu-item{
  font-weight: bold; 
  color: #00f6ed;
  text-decoration: none;
  margin-left: 10px;
}
.menu-item:hover{
  color: #fff;
}
.fill {
  height: 100%;
  min-height: 100%;
}
.light-white-font {
  color: #fff;
}
.grey-font{
  color: #222426;
}
.light-blue-font {
  color: #00f6ed !important;
}
.margin-b20{
  margin-bottom: 20px;
}
.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home h1 p {
  font-size: 42px;
  font-weight: 400;
}
#home h1 strong {
  font-size: 46px;
}

.linha1:after{
  content: " ";
  display: block;
  border-bottom: 3px solid #00f6ed;
  width: 40px;
}
.linha2{
  margin-bottom: 10px;
}
.linha2:after{
  content: " ";
  display: block;
  border-bottom: 3px solid #00f6ed;
  width: 80px;
}

.pw-item{
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}
.pw-item:active{
  border-bottom: 3px solid #00f6ed;
  width: 80px;
  color: #222426;
}
.pw-menu{
  text-align: center;
}
.pw-item:hover{
  color: #00f6ed;
}
.container-foto{
  position: relative;
  width: 50%;
  display: block;
}
.image {
  display: block;
  max-width: 250px;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 -2px 20px rgba(0,0,0,0.1);
}
.container-foto:hover .overlay {
  opacity: 1;
}


/*container sobre */
  .container-sobre{
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }

  /* barra de progresso - programação */
  .prog-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 40%;
  }

  .prog-progress-bar {
    background-color: #222426;
    width: 70%;
    height: 12px;
    border-radius: 10px;
  }

  /* barra de progresso - html e css */

  .html-css-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 40%;
  }

  .html-css-progress-bar {
    background-color: #222426;
    width: 60%;
    height: 12px;
    border-radius: 10px;
  }

  /* barra de progresso - bootstrap */

  .bootstrap-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 40%;
  }

  .bootstrap-progress-bar {
    background-color: #222426;
    width: 50%;
    height: 12px;
    border-radius: 10px;
  }

/*container sobre fim*/

.container-projeto{
  float: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}

/*container contato */

.contato{
  padding: 22.85px 0;
}

.contato .icone {
  display: inline-block;
  margin-left: 15px;
}


.contato .icone-desc {
  display: inline-block;
  margin-left: 10px;
}

.contato .icone-desc span {
  font-size: 15px;
}

.container-contato{
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}


.text {
  text-align: left;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center !important;
}
.icon{
  display: block;
  max-width: 35px;
  height: auto;
}
.margin-t10{
  margin-top: 10px;
}

/* email style */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Somente permite aumentar a caixa verticalmente */
}

.textarea{
  height: 120px;
}

/* style botão de enviar*/
input[type=submit] {
  background-color: #8e8e8e;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #222426;
}
.container-mail {
  border-radius: 5px;
  padding: 20px;
  width: 350px;
}
.input{
  height: 20px;
}
section{
  padding: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.flex-item{

  margin: 10px;
}

/****RESPONSIVIDADE****/

@media screen and (max-width: 566px){
  .menu{
    display: none;
  }
  .container-sobre{
    width: 100%;
  }
}
@media screen and (max-width: 566px){
  .container-contato{
    width: 100%;
  }
}