html,
body {
  font-family: "Raleway", sans-serif;
  font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

.geral{
  width: 1024px;
  margin: 0 auto;
}

.margin-r20{
  margin-right: 20px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header{
  background-color: #222426;
  height: 100%;
  margin: 0;
  margin-top: -45px; 
  padding: 0;
}
.menu{
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.menu-item{
  font-weight: bold; 
  color: #00f6ed;
  text-decoration: none;
  margin-left: 10px;
}
.menu-item:hover{
  color: #fff;
}
.fill {
  height: 100%;
  min-height: 100%;
}
.light-white-font {
  color: #fff;
}
.grey-font{
  color: #222426;
}
.light-blue-font {
  color: #00f6ed !important;
}
.margin-b20{
  margin-bottom: 20px;
}
.center {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home h1 p {
  font-size: 42px;
  font-weight: 400;
}
#home h1 strong {
  font-size: 46px;
}

.linha1:after{
  content: " ";
  display: block;
  border-bottom: 3px solid #00f6ed;
  width: 40px;
  margin-bottom: -10px;
  margin-top: 7px;
}
.linha2{
  margin-bottom: 10px;
}
.linha2:after{
  content: " ";
  display: block;
  border-bottom: 3px solid #00f6ed;
  width: 80px;
}

.indent{
  text-indent :2em;
}

.pw-item{
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
.pw-item:active{
  border-bottom: 3px solid #00f6ed;
  width: 80px;
  color: #222426;
}
.pw-menu{
  text-align: center;
}
.pw-item:hover{
  color: #00f6ed;
}
.container-foto{
  position: relative;
  width: 50%;
  display: block;
}
.image {
  display: block;
  max-width: 250px;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 -2px 20px rgba(0,0,0,0.1);
}
.container-foto:hover .overlay {
  opacity: 1;
}


/*container sobre */
  .container-sobre{
    float: left;
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
  }
  .container-skills{
    float: left;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
  }

  /* barra de progresso - programação */
  .progresso {
    background-color: #fff;
    width: 80%;
    display: inline-block;
  }
  .prog-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 80%;
    display: inline-block;
  }

  .prog-progress-bar {
    background-color: #222426;
    width: 70%;
    height: 12px;
    border-radius: 10px;
  }

  /* barra de progresso - html e css */

  .html-css-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 80%;
    display: inline-block;
  }

  .html-css-progress-bar {
    background-color: #222426;
    width: 60%;
    height: 12px;
    border-radius: 10px;
  }

  /* barra de progresso - bootstrap */

  .bootstrap-progress {
    background-color: #fff;
    border-radius: 13px;
    padding: 3px;
    border: 2px solid #222426;
    width: 80%;
    display: inline-block;
  }

  .bootstrap-progress-bar {
    background-color: #222426;
    width: 50%;
    height: 12px;
    border-radius: 10px;
  }

/*container sobre fim*/

.container-projeto{
  float: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  clear: both;
}

/*container contato */

.contato{
  padding: 22.85px 0;
}

.contato .icone {
  display: inline-block;
  margin-right: -10px;
}


.contato .icone-desc {
  display: inline-block;
  margin-left: 10px;
}

.contato .icone-desc span {
  font-size: 16px;
}

.container-contato{
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}


.text {
  text-align: left;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center !important;
}
.icon{
  display: block;
  max-width: 35px;
  height: auto;
}
.margin-t10{
  margin-top: 10px;
}

/* email style */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Somente permite aumentar a caixa verticalmente */
}

.textarea{
  height: 120px;
}

/* style botão de enviar*/
button[type=submit] {
  background-color: #8e8e8e;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: #222426;
}
.container-mail {
  border-radius: 5px;
  width: 350px;
  margin-top: 40px;
}
.input{
  height: 20px;
}
section{
  padding: 20px;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item{

  margin: 10px;
}

/****RESPONSIVIDADE****/

@media screen and (max-width: 566px){
  .menu{
    display: none;
  }
  .container-sobre{
    width: 100%;
  }
  .container-mail{
    width: 100%;
  }
  .prog-progress{
    width: 80%;
  }
  .html-css-progress {
    width: 80%;
  }
  .bootstrap-progress {
    width: 80%; 
  }
  .container-contato{
    width: 100%;
  }
  .flex-item{
    margin-left: -100px;
  }
  form{
    width: 25%;
  }
  .space{
    width: 25%;
  }
  .geral .container-projeto{
    width: 280px;
  }
}

@media screen and (min-width: 566px){
  .p-header{
    margin-right: -350px;
  }
}

/*******ANIMAÇÕES - BARRA DE PROGRESSO**********/
.porcentagem{
  display: inline-block;
}

/* Added for demo purposes */

.meter{
  margin-bottom: 1.5em;
}

/* Usage examples start here */
.stripes {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

.meter {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 13px;
  height: 10px;
  padding: 3px;
  border: 2px solid #222426;
}
.meter .animate {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-animation: big 2s linear infinite;
  -moz-animation: big 2s linear infinite;
  -ms-animation: big 2s linear infinite;
  animation: big 2s linear infinite;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}
.meter > span {
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 2px 9px inset, rgba(0, 0, 0, 0.4) 0 -2px 6px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 2px 9px inset, rgba(0, 0, 0, 0.4) 0 -2px 6px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 2px 9px inset, rgba(0, 0, 0, 0.4) 0 -2px 6px inset;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.meter .mariam {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #000;
  position: relative;
}

/*tamanho das barras de progressso*/
.width-prog{
  width: 70%;
}

.width-html-css{
  width: 60%;
}

.width-bootstrap{
  width: 50%;
}
.meter .mariam:after {
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}


@-moz-keyframes big {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes big {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-ms-keyframes big {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@keyframes big {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}